<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" name="baeldung" packages="">
    <Appenders>
        <File name="shiwani123" fileName="demoLogger.log" append="true">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="shiwani123"/>
        </Root>
    </Loggers>
</Configuration>